mat-toolbar {
    padding: 0 !important;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    z-index: 9999;

    button {
        margin: 0 !important;
    }
}

.logo-container,
.center-buttons,
.right-icons {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo-container {
    margin-left: 10px;
}

.center-buttons {
    justify-content: center;
    gap: 8px;
}

.right-icons {
    justify-content: flex-end;
    margin-right: 15px;

    .toolbar-main-menu {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.center-buttons,
.center-button,
.app-name {
    font-family: 'Inter', sans-serif !important;
    font-weight: 500;
}

.center-button {
    font-size: 18px;
    color: rgb(0, 65, 0) !important;
}


.center-button {
    position: relative;
}

.center-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: black;
    transform: translateX(-50%);
    transition: width .3s ease;
}

.center-button.active::after {
    width: 80%;
}

.logo-app {
    height: 35px;
    object-fit: contain;
    user-select: none;
    margin-top: -10px;
}

.app-name {
    display: flex;
    align-items: center;
    font-size: 18px;
    user-select: none;
    color: rgb(14, 68, 17);
    margin-bottom: 1px;
}

::ng-deep .mat-mdc-menu-content {
    margin-right: 15px;
    padding: 0 !important;
}

::ng-deep .mat-mdc-menu-panel {
    max-width: none !important;
    margin-right: 25px;
    background-color: white !important;
}

::ng-deep .mat-mdc-menu-item-text {
    font-family: 'Inter', sans-serif !important;
}

::ng-deep .mat-mdc-menu-panel {
    max-width: none !important;
    margin-right: 25px;
    background-color: white !important;
    border-radius: 15px !important;
    overflow: hidden;
}

@media (max-width: 790px) {
    .center-buttons {
        display: none;
    }

    .toolbar-main-menu {
        margin-right: 0 !important;
    }
}